{% extends 'stocks/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="d-flex justify-content-center">Search Result : {{ stock.companyName }}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Company Name</th>
          <th scope="col">primary Exchange</th>
          <th scope="col">latestPrice</th>
          <th scope="col">latestTime</th>
            <th scope="col">week 52High</th>
            <th scope="col">week 52Low</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ stock.symbol }}</th>
          <td>{{ stock.companyName }}</td>
          <td>{{ stock.primaryExchange }}</td>
          <td>{{ stock.latestPrice }}</td>
            <td>{{ stock.latestTime }}</td>
            <td>{{ stock.week52High }}</td>
            <td>{{ stock.week52Low }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="container mt-5 mb-3">
  <h1 class="d-flex justify-content-center">Related News</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for new in news %}
        <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src='{{ new.image }}' class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title card-subject"><a href="{{ new.url }}">{{ new.headline}}</a></h5>
                <p class="card-text card-summary">{{ new.summary }}</p>
                <p class="card-text"><small class="text-muted">{{ new.provider }}</small></p>
                  <p class="card-text"><small class="text-muted">{{ new.datetime }}</small></p>
              </div>
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}